/* FONTS */
@font-face {
  font-family: "DeuxiemeRang";
  src: url(fonts/deuxieme_rang/Deuxieme_Rang.otf) format("truetype");
}

@font-face {
  font-family: "BrokenVessels";
  src: url(fonts/kg_broken_vessels_sketch/KGBrokenVesselsSketch.ttf) format("truetype");
}

/* BASIC RESET */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 14px;
  font-family: 'DeuxiemeRang';
}

body {
  background: url(images/126663792_m.jpg);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  min-height: 100vh;
  position: relative;
}

.container {
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.wrapper {
  margin-top: 3rem;
  font-family: "BrokenVessels";
}

h1 {
  margin: 2rem auto 0;
  color: white;
  font-size: clamp(4rem, 7vw, 8rem);
  font-family: "DeuxiemeRang";
  font-weight: bold;
  text-align: center;
}

.entries {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
}

input {
  margin: 1rem;
  padding: 1rem;
  text-align: center;
  border-radius: 4px;
  font-size: clamp(1rem, 2vw, 6rem);
  font-weight: 100;
  color: grey;
  min-width: 100px;
  position: relative;
}

.entry::placeholder {
  opacity: .5;
  font-size: clamp(.8rem, 1vw, 1.2rem);
}

button {
  margin: 2rem;
  font-size: 2rem;
  padding: 1rem .5rem;
  cursor: pointer;
}

#myResult {
  background-color: transparent;
  border: 4px solid white;
  color: white;
  background-color: #436462;
}

#myResult::placeholder {
  color: white;
}


.explications {
  color: white;
  font-weight: 100;
  font-size: 1.2rem;
}

footer {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: white;
  font-size: clamp(1rem, 1vw, 1.5rem);
  font-family: 'BrokenVessels';
}

footer a {
  text-decoration: none;
  color: white;
  padding: 20px;
}

@media screen and (max-width: 600px) {

  /*  */
}